.idea/.idea.NotchSolution/riderModule.iml
.idea/.idea.NotchSolution/.idea/modules.xml
.idea/.idea.NotchSolution/.idea/misc.xml
.idea/.idea.NotchSolution/.idea/contentModel.xml
.idea/.idea.NotchSolution/.idea/workspace.xml
.idea/.idea.NotchSolution/.idea/indexLayout.xml
.idea/.idea.NotchSolution/.idea/encodings.xml
.idea/.idea.NotchSolution/.idea/vcs.xml
